extends ../base
block title
  |Index page
block main
  header.header
    div.container
      div.header__wrap
        div.header__left
          div.logo
            a.logo__link(href='#')
              img.logo__img(src=require('./../../media/logo_vpn.png'))
        div.header__right
          div.antivirus
            div.antivirus__left
              a.logo__link
                img.logo__img(src=require('./../../media/comodo.png'))
            div.antivirus__right
              span.antivirus__icon
                img(src=require('./../../media/icon_earch.png'))
              span.antivirus__text 100% Secure payment
  main.main
    div.alert
      div.container
        img.alert__img(src=require('./../../media/alert.png'))
    section.section.is-connection
      div.container
        div.connection
          h1.connection__title Frequently bought with your package...
          div.connection__wrap
            div.connection__item
              div.no-upgrade
                div.no-upgrade__content
                  div.no-upgrade__img
                    img(src=require('./../../media/banner_local.png'))
                    span.badge
                      img(src=require('./../../media/off_day.png'))
                  span.no-upgrade__description
                    span.icon.is-star
                    <span class="orange i-bold">VPN Secure Connection</span> is our most popular protection enhancement.
                  p.no-upgrade__description Public Wi-Fi Hotspots can be a hacker's paradise. Following these basic security tips can mean the difference between safe surfing and an identity-theft or data-loss nightmare.
                button(type='button').btn.is-large.is-gray.no-upgrade__btn
                  span Continue without vpn SP
                  span.icon.is-arrow
            div.connection__item
              div.upgrade
                div.upgrade__content
                  h1.upgrade__title VPN Secure Connection
                  span.upgrade__price Huge Saving - Only $39
                  span.upgrade__discount Exclusive 50% Discount - Today Only
                  img.upgrade__img(src=require('./../../media/jackpot.png'))
                  ul.list
                    li.list__el
                      span.icon.icon.icon-check-small
                      span.list__text 12 Months Safe and Reliable Connection
                    li.list__el
                      span.icon.icon.icon-check-small
                      span.list__text Hide Your Location, Great for Streaming
                    li.list__el
                      span.icon.icon-check-small
                      span.list__text Stop Snoopers Acessing Online Activity
                button(type='button').btn.is-large.upgrade__btn
                  span Add vpn secure connection
                  span.icon.is-arrow
    div.container
      div.pre-footer
        p By submitting this order, you agree to our <a>terms of service<?a>, <a>cancellation</a> & <a>privacy polities</a>. Introductery prices are for new customers initial term only. All resurring rervices automatically renew annually at the standart rete unless you request a change or cancel.

  footer.footer
    div.container
      div.footer__wrap
        div.copyright © 2018 PC Care Pro.
        nav.nav
          ul.nav__list
            li.nav__el
              a.nav__link Terms of Use
            li.nav__el
              a.nav__link Privacy policy
            li.nav__el
              a.nav__link Refund Policy
            li.nav__el
              a.nav__link Auto-Renew Policy
            li.nav__el
              a.nav__link Money Back Guarantee

    div.popup-overlay#popup-overlay
      div.popup#popup
        span.popup__close.icon.icon-close#popup__close
        div.popup__header
          h1.popup__title Limited Time Offer
          p.popup__subtitle Get Safe Browsing (VPN) for <span class='i-bold'>Only $39</span> & get Priority Support <span class='orange i-bold'>FREE!</span>
        div.popup__body
          img.popup__support(src=require('./../../media/priority-support.png'))
          div.popup__left
            ul.list
              li.list__el
                span.icon.icon-check-small
                span.list__text Unlock Priority Support email
              li.list__el
                span.icon.icon-check-small
                span.list__text Assigned VIP account status
              li.list__el
                span.icon.icon-check-small
                span.list__text Queue jump for faster response times
            div.counter
              div.counter__title Limed time offer

              div.counter__content#js-timer
                div.counter__box.hours
                  span.counter__el.hours__el 0
                  span.counter__el.hours__el 0
                div.counter__box.minutes
                  span.counter__el.minutes__el 0
                  span.counter__el.minutes__el 0
                div.counter__box.seconds
                  span.counter__el.seconds__el 0
                  span.counter__el.seconds__el 0

          div.popup__right
            div.gift
              div.gift__img-wrap
                img.gift__img(src=require('./../../media/gift.png'))
              span.gift__text FREE GIFT
              span.gift__price Worth $18
        div.popup__action
          button(type='button').popup__btn.btn.is-grey NO THANKS, CONTINUE
          button(type='button').popup__btn.btn.is-medium GET VPN & REDEEM GIFT

