extends ../base
block title
  |Index page
block main
  header.header
    div.container
      div.header__wrap
        div.header__left
          div.logo
            a.logo__link(href='#')
              img.logo__img(src=require('./../../media/logo_PCCare.png'))
        div.header__right
          div.antivirus
            div.antivirus__left
              a.logo__link
                img.logo__img(src=require('./../../media/comodo.png'))
            div.antivirus__right
              span.antivirus__icon
                img(src=require('./../../media/icon_earch.png'))
              span.antivirus__text 100% Secure payment
  main.main
    div.general-banner
      div.container
        h1.title.general-banner__title
        p.general-banner__subtitle
        span.badge
          img(src=require('./../../media/off.png'))
    section.section.is-boxes
      div.container
        div.boxes
          div.box
            div.box__wrap
              img.box__img(src=require('./../../media/logo_aa.png'))
              span.box__title Plumbytes Anti-Adware
              span.box__description Take control of your internet experience and block unwanted ads
              div.box__price
                span.price.is-old Usually <strike>$48</strike>
                span.price NOW $24
                span Annually
              button(type='button').btn Added
          div.box
            div.box__wrap
              img.box__img(src=require('./../../media/logo_care.png'))
              span.box__title PC Care PRO
              span.box__description Protect your identity from online fraud and be notifield if you are at risk
              div.box__price
                span.price.is-old Usually <strike>$48</strike>
                span.price NOW $39
                span Annually
              button(type='button').btn Add extra
          div.box
            div.box__wrap
              img.box__img(src=require('./../../media/logo_vpn.png'))
              span.box__title VPN Secure Connection
              span.box__description Add extra privacy and protection to prevent snoopers watching your every move
              div.box__price
                span.price.is-old Usually <strike>$48</strike>
                span.price NOW $40
                span Annually
              button(type='button').btn Add extra
          div.info#info-orange
            div.info__left
              span.icon.icon-mostrecent
            div.info__right
              span.info__title Most recent purchase
              p.info__descr Less than a minute ago
          div.info.is-green#info-green
            div.info__left
              span.icon.icon-claimed
            div.info__right
              span.info__title 101 People Claimed Offer
              p.info__descr in the last hour
    section.section.is-protect
      div.container
        div.protects
          div.protect
            div.protect__left
              div.protect__head
                h2.protect__title Additional Device
                span.protect__subtitle Protect another device with 1 extra license
              ul.protect__list
                li.protect__el
                  span.icon.icon-check-small
                  span.protect__text 12 Months Safe and Reliable Connection
                li.protect__el
                  span.icon.icon-check-small
                  span.protect__text Hide Your Location, Great for Streaming
                li.protect__el
                  span.icon.icon-check-small
                  span.protect__text Stop Snoopers Acessing Online Activity
            div.protect__right
              div.protect__price
                span.price.is-old Usually <strike>$48</strike>
                span.price NOW $15
                span Annually
                button(type='button').btn Add extra
          div.protect
            div.protect__left
              div.protect__head
                h2.protect__title Family Protection
                span.protect__subtitle Protect your whole family with 5 extra licenses
              ul.protect__list
                li.protect__el
                  span.icon.icon-check-small
                  span.protect__text Advanced Ransomware Protection
                li.protect__el
                  span.icon.icon-check-small
                  span.protect__text Real-Time Antivirus Protection
                li.protect__el
                  span.icon.icon-check-small
                  span.protect__text Protection Against Phishing Scam
            div.protect__right
              div.protect__price
                span.price.is-old Usually <strike>$48</strike>
                span.price NOW $9
                span Annually
                button(type='button').btn Add extra
          div.protect
            div.protect__left
              div.protect__head
                h2.protect__title Home Protection
                span.protect__subtitle Protect all home device with extra licenses
              ul.protect__list
                li.protect__el
                  span.icon.icon-check-small
                  span.protect__text 12 Months Safe and Reliable Connection
                li.protect__el
                  span.icon.icon-check-small
                  span.protect__text Hide Your Location, Great for Streaming
                li.protect__el
                  span.icon.icon-check-small
                  span.protect__text Stop Snoopers Acessing Online Activity
            div.protect__right
              div.protect__price
                span.price.is-old Usually <strike>$48</strike>
                span.price NOW $39
                span Annually
                button(type='button').btn Add extra
        div.purchase
          div.purchase__top
            button(type='button').btn.is-large Continue & purchase my addons
            span.purchase__text No Thanks, I don’t want 50% off any account addons
          div.purchase__bottom
            div.promo Promotional prices are available to new customers for the initial term only. All services automatically renew at the standart rate using the same term and payment method, unledd you request a change.
  footer.footer
    div.container
      div.footer__wrap
        div.copyright © 2018 PC Care Pro.
        nav.nav
          ul.nav__list
            li.nav__el
              a.nav__link Terms of Use
            li.nav__el
              a.nav__link Privacy policy
            li.nav__el
              a.nav__link Refund Policy
            li.nav__el
              a.nav__link Auto-Renew Policy
            li.nav__el
              a.nav__link Money Back Guarantee